.tech{
    padding: 24px 89px;
}
.grid-view{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(280px , 1fr));
    gap : 1.2rem
}
mat-card{
    background-color: white;
    padding: 0.8rem;
}

.week-img{
    object-fit: cover;
    width: 100%;
    height: 150px;
}
.date{
    color: #888
}
h2{
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 4px;
    word-break: break-word;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.iframe-modal {
    width: 80%;
    height: 80%;
    background-color: #fff;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 14px;
    background: transparent;
    border: none;
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    z-index: 1;
}
.article-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.article-popup {
    background-color: #fff;
    border-radius: 12px;
    max-width: 600px;
    width: 90%;
    padding: 20px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
}

.popup-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
}

.popup-title {
    font-size: 1.4rem;
    font-weight: 600;
}

.popup-date {
    font-size: 0.9rem;
    color: #888;
}

.popup-description {
    font-size: 1rem;
    color: #333;
}

.popup-link {
    color: #74a2d4;
    text-decoration: underline;
    font-weight: 500;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.news-card:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}