.sport-view {
  padding: 24px 89px;
}
.grid-view {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 12px;
}
mat-card {
  height: 300px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 12px;
  background: transparent;
  box-shadow: none;
  padding: 0;
}

.flip-card {
  height: 100%;
  perspective: 1000px;
  position: relative;
}
.flip-card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  position: relative;
}
.flipped .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 12px;
  overflow: hidden;
  top: 0;
  left: 0;
}
.flip-card-front {
  z-index: 2;
}
.flip-card-back {
  transform: rotateY(180deg);
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px;
  box-sizing: border-box;
  z-index: 1;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.overlay-title {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 8px;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  word-break: break-word;
}
.back-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.publish-date {
  font-size: 12px;
  color: #555;
  margin-bottom: 8px;
}
.description {
  font-size: 14px;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  margin-bottom: 12px;
}
.read-more {
  margin-top: auto;
  color: #007bff;
  text-decoration: none;
  font-weight: 500;
}
.read-more:hover {
  text-decoration: underline;
}
