<mat-toolbar>
    <div class="toolbar">
        <p class="news24" (click)="goToHome()">NEWS<span class="n24">24</span></p>
    <div class="buttons">
        <button mat-button (click)="goToHome()">Home</button>
        <button mat-button (click)="goToBusiness()">Business</button>
        <button mat-button (click)="goToSports()">Sports</button>
        <button mat-button (click)="goToTech()">Tech</button>
    </div>
    <button mat-button class="contact" (click)="openContactDialog()" >Contact Us</button>
    </div>
</mat-toolbar>
